.Margin-null{
  margin: 0;
}

/* -----------------------------------------------------------------------------
                              Font
--------------------------------------------------------------------------------*/
.text-center{
  text-align: center;
}

/* -----------------------------------------------------------------------------
                               Background
--------------------------------------------------------------------------------*/
.Background-white{
  background-color: #ecf0f1;
}
/* -----------------------------------------------------------------------------
                           LandingPage
--------------------------------------------------------------------------------*/
#LandingContainer{
  width: 100vw;
  height: 100vh;
}
#CardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.LandingContent{
  margin: 20px;
}
