.Margin-null{
  margin: 0;
}

/* -----------------------------------------------------------------------------
                              Font
--------------------------------------------------------------------------------*/
.text-center{
  text-align: center;
}
.Font-color-white{
  color: #ffffff;
}
.Font-color-black{
  color: black;
}
.Font-size-xxl{
  font-size: 40px;
}
/* -----------------------------------------------------------------------------
                              Margin
--------------------------------------------------------------------------------*/
.Container-margin{
  background-color: white;
  opacity: 0;
}
.Margin-xxs{
  margin: 5px;
}
.Margin-xs{
  margin: 10px;
}
.Margin-xl{
  margin: 15px;
}
.Margin-xxl{
  margin: 30px;
}



/* -----------------------------------------------------------------------------
                               Background
--------------------------------------------------------------------------------*/
.Background-setting{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Background-white{
  background-color: #ecf0f1;
}
.Background-landing{
  background-image: url("./img/background-landing.jpg");
}
.Background-main{
  background-color: #DDE8EF;
}




/* -----------------------------------------------------------------------------
                           LandingPage
--------------------------------------------------------------------------------*/
#LandingContainer{
  min-width: 100vw;
  min-height: 100vh;
}
#CardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.CardLandingContent{
  margin: 20px;
}
.img-game-landing{
  border: 1px solid #bdc3c7;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-game-landing:hover{
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* -----------------------------------------------------------------------------
                               ArkScreen
--------------------------------------------------------------------------------*/
#ArkScreen-container{
  width: 100vw;
  height: 100vh;
}

/* -----------------------------------------------------------------------------
                              AtlasScreen
--------------------------------------------------------------------------------*/
#AtlasScreen-container{
  width: 100vw;
  height: 100vh;
}
